
body {
    background-color: #ABC4AA;
}
a{
    text-decoration: none;
    color: black;
}
.common-section {
    padding: 7% 15%;
}
/*nav{
    margin: 0 50%;
}*/

/* Welcome page */
nav a{
    margin: 0 2rem;
}

.img-welcome{
    height: 50rem;
    width: 100%;
}


.word-welcome{
    position: absolute;
    background-color: #ABC4AA;
    margin-left: 40%;
    margin-top: -35rem;
    padding: 5%;
}


/* Tabs sections */

.img-illustration{
    height: 10rem;
    width: 10rem;
    justify-self: center;
    margin: 13%;
}

.title-section{
    display: grid;
    justify-content: center;
    align-items: center;
    /*margin: 7% 0;*/
    margin-bottom: 7%;
}


.button-wrap {
    position: relative;
    /*width: 40%;*/
    width: 7.70rem;
    height: 2.063rem;
    display: flex;
    background-color: #A9907E;
    justify-content: center;
    border-radius: 50px;
    margin-left: 3.5rem;
}

.button-wrap .text-button{
    margin-top: 3px;
}

.tab-card{
    padding: 0;
    margin: 1rem;
    height: 20.688rem;
    width: 18.875rem;
    background-color: #F3DEBA;
}
.tab-card img{
    height: 13.938rem;
    width: 100%;
}

.card-info{
    margin: 5%;
}
.tab-card .card-info div{
   display: flex;
}

/* Testimonial */

#testimonials, #about-us, .footer {
    background-color: #675D50;
}

.testi-card{
    display: grid;
    justify-content: center;
    margin: -8% 0;
    /*background-color: white;*/
    margin-bottom: 5%;
}

.testi-card p{
    background-color: #F3DEBA;
    padding: 7rem 5rem 5rem 5rem;
    height: 17rem;
    width: 25rem;
    border-radius: 1.25rem; 
}

.img-user{
    position: relative;
    z-index: 1;
    bottom: -12rem;
    justify-self: center;
}

.img-com{
    position: relative;
    justify-self: right;
    z-index: 1;
    bottom: -2rem;
    left: 4rem;
}

/* Let command-section */

/**/.command-form input, .command-form select{
    background-color: #F3DEBA; 
}

/* About us section*/
.p1, .p2 {
    background-color: #ABC4AA;
    padding: 5%;
    width: 50%/*34rem;*/;
}

.p2{
    margin-left: 50%;
}

/* contact section */
.contacts-infos {
    display: grid;
    justify-content: center;
    
    
}

.contacts-infos .map, .infos{
    margin: auto;
}

